# Ignore node_modules folder
node_modules/

# Ignore .env files if used for local environment variables
.env

# Ignore AWS credentials (if they're in your home directory)
.aws/

# Ignore Serverless deployment files
.serverless/

node_modules/
